doctype html
html(lang="en")
  head
    title Box Content Sidebar
    script(src='https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Intl')
    link(rel='stylesheet', href='https://cdn01.boxcdn.net/platform/elements/9.0.2/en-US/sidebar.css')
  body
    div(class='container', style='height:600px')
    
    script(src='https://cdn01.boxcdn.net/platform/elements/9.0.2/en-US/sidebar.js')
      
    script(type="text/javascript").
      var fileId = '#{fid}';
      var accessToken = '#{at}';
      
      var contentSidebar = new Box.ContentSidebar();
      contentSidebar.show(fileId, accessToken, {
        container: '.container',
        detailsSidebarProps: {
          hasNotices: true,
          hasProperties: true,
          hasAccessStats: true,
          hasVersions: true
        },
        hasActivityFeed: true,
        hasSkills: true,
        hasMetadata: true
      })
