doctype html
html(lang="en")
  head
    title Box Content Uploader
    script(src='https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Intl')
    script(src='https://cdn01.boxcdn.net/platform/elements/1.0.2/en-US/uploader.js')
    link(rel='stylesheet', href='https://cdn01.boxcdn.net/platform/elements/1.0.2/en-US/uploader.css')
  body
    div(class='container', style='height:600px;')

    script(type="text/javascript").
      var folderId = '#{fid}';
      var accessToken = '#{at}';
      var uploader = new Box.ContentUploader();
      uploader.show(folderId, accessToken, {
          container: '.container'
      });