doctype html
html(lang="en")
  head
    title Box Content Preview
    script(src='https://cdn.polyfill.io/v2/polyfill.min.js?features=Promise')
    link(rel='stylesheet', href='https://cdn01.boxcdn.net/platform/preview/1.2.1/en-US/preview.css')
  body
    div(class='container', style='height:400px; width:100%;')

    script(src='https://cdn01.boxcdn.net/platform/preview/1.2.1/en-US/preview.js')
    
    script(type="text/javascript").
      var fileId = '#{fid}';
      var accessToken = '#{at}';
      var preview = new Box.Preview();
      preview.show(fileId, accessToken, {
          container: '.container',
          showDownload: true
      });